.header {
  background-color: #263238;
  padding: 1rem;
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #e0e0e0; /* Borde sutil */
}

.header-container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  display: flex;
  align-items: center;
}

.logo .logo-img {
  height: 50px;
  margin-right: 15px;
}

.text-container {
  display: flex;
  flex-direction: column;
}

.site-title {
  color: #4caf50;
  font-size: 1.7rem;
  font-weight: bold;
}

.site-slogan {
  margin-top: -5px;
  color: #ffffff;
  font-size: 0.86rem;
  text-wrap: nowrap;
}

.navbar .nav-links {
  display: flex;
  gap: 2rem;
}

.navbar .nav-links li {
  list-style: none;
}

.navbar .nav-links li a {
  color: #ffffff;
  text-decoration: none;
}

.navbar .nav-links li a:hover {
  color: #4caf50;
  
}

.search-bar {
  display: flex;
  align-items: center;
  border-radius: 15px;
  overflow: hidden;
  background-color: #ffffff;
}

.search-bar input {
  margin-left: 10px;
  border: none;
  padding: 0.4rem;
  font-size: 1rem;
  
}

.search-bar input:focus {
  outline: none;
}

.search-btn {
  background-color: #4caf50;
  border: none;
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 50%;
}

.search-btn svg {
  color: #ffffff;
}

.icons {
  display: flex;
  align-items: center;
  gap: 1.5rem;
  font-size: 25px;
}

.icon-container {
  position: relative;
  color: #ffffff;
  cursor: pointer;
}

.icon-badge {
  position: absolute;
  top: -8px;
  right: -10px;
  background-color: #e53935;
  color: #ffffff;
  border-radius: 50%;
  padding: 0.2rem 0.4rem;
  font-size: 0.8rem;
}

.icon-container:hover {
  color: #4caf50;
}

.user-icon .user-dropdown {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: #ffffff;
  color: #263238;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  overflow: hidden;
  z-index: 10;
}

.user-icon:hover .user-dropdown {
  display: block;
}

.user-dropdown a {
  display: block;
  padding: 0.8rem 1rem;
  text-decoration: none;
  color: #263238;
  font-size: 1rem;
}

.user-dropdown a:hover {
  background-color: #4caf50;
  color: #ffffff;
}